<% content_for "header" do %>
<title><%= I18n.translate(locale, "Token") %> - Invidious</title>
<% end %>

<% if env.get? "access_token" %>
    <div class="page-head">
        <h1 class="page-head__title"><%= I18n.translate(locale, "Token") %></h1>
        <a class="btn btn--sm" href="/token_manager"><%= I18n.translate(locale, "Token manager") %></a>
        <a class="btn btn--sm" href="/preferences"><%= I18n.translate(locale, "Preferences") %></a>
    </div>

    <div class="panel">
        <pre><%= env.get "access_token" %></pre>
    </div>
<% else %>
    <form class="form narrow--wide" action="/authorize_token" method="post">
        <div class="form__group">
            <% if callback_url %>
                <legend class="form__legend"><%= I18n.translate(locale, "Authorize token for `x`?", "#{callback_url.scheme}://#{callback_url.host}") %></legend>
            <% else %>
                <legend class="form__legend"><%= I18n.translate(locale, "Authorize token?") %></legend>
            <% end %>

            <ul>
                <% scopes.each do |scope| %>
                    <li><code><%= HTML.escape(scope) %></code></li>
                <% end %>
            </ul>

            <div class="form__actions">
                <button type="submit" name="submit" value="authorize_token" class="btn btn--accent">
                    <%= I18n.translate(locale, "Yes") %>
                </button>
                <% if callback_url %>
                    <a class="btn" href="<%= callback_url %>"><%= I18n.translate(locale, "No") %></a>
                <% else %>
                    <a class="btn" href="/"><%= I18n.translate(locale, "No") %></a>
                <% end %>
            </div>

            <% scopes.each_with_index do |scope, i| %>
                <input type="hidden" name="scopes[<%= i %>]" value="<%= scope %>">
            <% end %>
            <% if callback_url %>
                <input type="hidden" name="callbackUrl" value="<%= callback_url %>">
            <% end %>
            <% if expire %>
                <input type="hidden" name="expire" value="<%= expire %>">
            <% end %>

            <input type="hidden" name="csrf_token" value="<%= HTML.escape(csrf_token) %>">
        </div>
    </form>
<% end %>
