<% content_for "header" do %>
<title><%= I18n.translate(locale, "Change password") %> - Invidious</title>
<% end %>

<form class="form narrow" action="/change_password?referer=<%= URI.encode_www_form(referer) %>" method="post">
    <div class="form__group">
        <legend class="form__legend"><%= I18n.translate(locale, "Change password") %></legend>

        <div class="field field--stack">
            <label for="password"><%= I18n.translate(locale, "Password") %></label>
            <input required id="password" name="password" type="password" placeholder="<%= I18n.translate(locale, "Password") %>">
        </div>

        <div class="field field--stack">
            <label for="new_password[0]"><%= I18n.translate(locale, "New password") %></label>
            <input required id="new_password[0]" name="new_password[0]" type="password" placeholder="<%= I18n.translate(locale, "New password") %>">
        </div>

        <div class="field field--stack">
            <label for="new_password[1]"><%= I18n.translate(locale, "New password") %></label>
            <input required id="new_password[1]" name="new_password[1]" type="password" placeholder="<%= I18n.translate(locale, "New password") %>">
        </div>

        <div class="form__actions">
            <button type="submit" name="action" value="change_password" class="btn btn--accent">
                <%= I18n.translate(locale, "Change password") %>
            </button>
        </div>

        <input type="hidden" name="csrf_token" value="<%= HTML.escape(csrf_token) %>">
    </div>
</form>
