<% content_for "header" do %>
<title><%= I18n.translate(locale, "Import and Export Data") %> - Invidious</title>
<% end %>

<form class="form narrow--wide" enctype="multipart/form-data" action="/data_control?referer=<%= URI.encode_www_form(referer) %>" method="post">
    <div class="form__group">
        <legend class="form__legend"><%= I18n.translate(locale, "Import") %></legend>

        <div class="field field--stack">
            <label for="import_invidious"><%= I18n.translate(locale, "Import Invidious data") %></label>
            <input type="file" id="import_invidious" name="import_invidious">
        </div>

        <div class="field field--stack">
            <label for="import_youtube">
                <a rel="noopener noreferrer" target="_blank" href="https://github.com/iv-org/documentation/blob/master/docs/export-youtube-subscriptions.md">
                    <%= I18n.translate(locale, "Import YouTube subscriptions") %>
                </a>
            </label>
            <input type="file" id="import_youtube" name="import_youtube">
        </div>

        <div class="field field--stack">
            <label for="import_youtube_pl"><%= I18n.translate(locale, "Import YouTube playlist (.csv)") %></label>
            <input type="file" id="import_youtube_pl" name="import_youtube_pl">
        </div>

        <div class="field field--stack">
            <label for="import_youtube_wh"><%= I18n.translate(locale, "Import YouTube watch history (.json)") %></label>
            <input type="file" id="import_youtube_wh" name="import_youtube_wh">
        </div>

        <div class="field field--stack">
            <label for="import_freetube"><%= I18n.translate(locale, "Import FreeTube subscriptions (.db)") %></label>
            <input type="file" id="import_freetube" name="import_freetube">
        </div>

        <div class="field field--stack">
            <label for="import_newpipe_subscriptions"><%= I18n.translate(locale, "Import NewPipe subscriptions (.json)") %></label>
            <input type="file" id="import_newpipe_subscriptions" name="import_newpipe_subscriptions">
        </div>

        <div class="field field--stack">
            <label for="import_newpipe"><%= I18n.translate(locale, "Import NewPipe data (.zip)") %></label>
            <input type="file" id="import_newpipe" name="import_newpipe">
        </div>

        <div class="form__actions">
            <button type="submit" class="btn btn--accent">
                <svg class="icon icon--sm"><use href="#i-save"/></svg>
                <%= I18n.translate(locale, "Import") %>
            </button>
        </div>
    </div>

    <div class="form__group">
        <legend class="form__legend"><%= I18n.translate(locale, "Export") %></legend>

        <div class="stack stack--tight">
            <a href="/subscription_manager?action_takeout=1"><%= I18n.translate(locale, "Export subscriptions as OPML") %></a>
            <a href="/subscription_manager?action_takeout=1&format=newpipe"><%= I18n.translate(locale, "Export subscriptions as OPML (for NewPipe & FreeTube)") %></a>
            <a href="/subscription_manager?action_takeout=1&format=json"><%= I18n.translate(locale, "Export data as JSON") %></a>
        </div>
    </div>
</form>
