<% content_for "header" do %>
<title><%= I18n.translate(locale, "Log in") %> - Invidious</title>
<% end %>

<div class="form narrow">
    <% if Invidious::OIDC.enabled? %>
        <a class="btn btn--accent btn--block" href="/oidc/login?referer=<%= URI.encode_www_form(referer) %>">
            <svg class="icon icon--sm"><use href="#i-key"/></svg>
            <%= I18n.translate(locale, "Sign in with `x`", CONFIG.oidc_display_name) %>
        </a>
    <% end %>

    <% if !CONFIG.oidc_only %>
    <% case account_type when %>
    <% else # "invidious" %>
        <form class="form__group" action="/login?referer=<%= URI.encode_www_form(referer) %>&type=invidious" method="post">
            <legend class="form__legend"><%= I18n.translate(locale, "Log in/register") %></legend>

            <% if email %>
                <input name="email" type="hidden" value="<%= HTML.escape(email) %>">
            <% else %>
                <div class="field field--stack">
                    <label for="email"><%= I18n.translate(locale, "User ID") %></label>
                    <input required id="email" name="email" type="text" placeholder="<%= I18n.translate(locale, "User ID") %>">
                </div>
            <% end %>

            <% if password %>
                <input name="password" type="hidden" value="<%= HTML.escape(password) %>">
            <% else %>
                <div class="field field--stack">
                    <label for="password"><%= I18n.translate(locale, "Password") %></label>
                    <input required id="password" name="password" type="password" placeholder="<%= I18n.translate(locale, "Password") %>">
                </div>
            <% end %>

            <% if captcha %>
                <% captcha = captcha.not_nil! %>
                <img style="width:100%;border-radius:var(--r-ctrl)" src='<%= captcha[:question] %>'/>
                <% captcha[:tokens].each_with_index do |token, i| %>
                    <input type="hidden" name="token[<%= i %>]" value="<%= HTML.escape(token) %>">
                <% end %>
                <div class="field field--stack">
                    <label for="answer"><%= I18n.translate(locale, "Time (h:mm:ss):") %></label>
                    <input id="answer" type="text" name="answer" placeholder="h:mm:ss">
                </div>

                <button type="submit" name="action" value="signin" class="btn btn--accent btn--block">
                    <%= I18n.translate(locale, "Register") %>
                </button>
            <% else %>
                <button type="submit" name="action" value="signin" class="btn btn--accent btn--block">
                    <%= I18n.translate(locale, "Sign In") %>/<%= I18n.translate(locale, "Register") %>
                </button>
            <% end %>
        </form>
    <% end %>
    <% end %>
</div>
