<% content_for "header" do %>
<title><%= I18n.translate(locale, "Subscription manager") %> - Invidious</title>
<% end %>

<div class="page-head">
    <h1 class="page-head__title">
        <a href="/feed/subscriptions"><%= I18n.translate_count(locale, "generic_subscriptions_count", subscriptions.size, I18n::NumberFormatting::HtmlSpan) %></a>
    </h1>
    <a class="btn btn--sm" href="/feed/history">
        <svg class="icon icon--sm"><use href="#i-clock"/></svg>
        <%= I18n.translate(locale, "Watch history") %>
    </a>
    <a class="btn btn--sm" href="/data_control?referer=<%= URI.encode_www_form(referer) %>">
        <svg class="icon icon--sm"><use href="#i-data"/></svg>
        <%= I18n.translate(locale, "Import/export") %>
    </a>
</div>

<div class="stack stack--tight">
    <% subscriptions.each do |channel| %>
        <div class="manage-row<% if channel.deleted %> deleted<% end %>">
            <div class="manage-row__text">
                <a class="manage-row__name" href="/channel/<%= channel.id %>"><%= HTML.escape(channel.author) %></a>
            </div>
            <form data-onsubmit="return_false" action="/subscription_ajax?action=remove_subscriptions&c=<%= channel.id %>&referer=<%= env.get("current_page") %>" method="post">
                <input type="hidden" name="csrf_token" value="<%= HTML.escape(env.get?("csrf_token").try &.as(String) || "") %>">
                <button type="submit" class="btn btn--sm btn--danger" data-onclick="remove_subscription" data-ucid="<%= channel.id %>">
                    <%= I18n.translate(locale, "unsubscribe") %>
                </button>
            </form>
        </div>
    <% end %>
</div>
