<% content_for "header" do %>
<title><%= I18n.translate(locale, "Token manager") %> - Invidious</title>
<% end %>

<div class="page-head">
    <h1 class="page-head__title"><%= I18n.translate_count(locale, "tokens_count", tokens.size, I18n::NumberFormatting::HtmlSpan) %></h1>
    <a class="btn btn--sm" href="/preferences?referer=<%= URI.encode_www_form(referer) %>">
        <svg class="icon icon--sm"><use href="#i-cog"/></svg>
        <%= I18n.translate(locale, "Preferences") %>
    </a>
</div>

<div class="stack stack--tight">
    <% tokens.each do |token| %>
        <div class="manage-row<% if token[:session] == sid %> deleted<% end %>">
            <svg class="icon"><use href="#i-key"/></svg>
            <div class="manage-row__text">
                <code class="manage-row__name"><%= token[:session] %></code>
                <span class="manage-row__meta"><%= I18n.translate(locale, "`x` ago", recode_date(token[:issued], locale)) %></span>
            </div>
            <form data-onsubmit="return_false" action="/token_ajax?action=revoke_token&session=<%= token[:session] %>&referer=<%= env.get("current_page") %>" method="post">
                <input type="hidden" name="csrf_token" value="<%= HTML.escape(env.get?("csrf_token").try &.as(String) || "") %>">
                <button type="submit" class="btn btn--sm btn--danger" data-onclick="revoke_token" data-session="<%= token[:session] %>">
                    <%= I18n.translate(locale, "revoke") %>
                </button>
            </form>
        </div>
    <% end %>
</div>
