<div class="card__tools">
    <a title="<%= I18n.translate(locale, "videoinfo_watch_on_youTube") %>" rel="noreferrer noopener" href="https://www.youtube.com/watch<%= endpoint_params %>">
        <svg class="icon icon--sm"><use href="#i-youtube"/></svg>
    </a>
    <a title="<%= I18n.translate(locale, "Audio mode") %>" href="/watch<%= endpoint_params %>&listen=1">
        <svg class="icon icon--sm"><use href="#i-headset"/></svg>
    </a>
    <% if env.get("preferences").as(Preferences).automatic_instance_redirect %>
        <a title="<%= I18n.translate(locale, "Switch Invidious Instance") %>" href="/redirect?referer=%2Fwatch<%= URI.encode_www_form(endpoint_params) %>">
            <svg class="icon icon--sm"><use href="#i-jet"/></svg>
        </a>
    <% else %>
        <a title="<%= I18n.translate(locale, "Switch Invidious Instance") %>" href="https://redirect.invidious.io/watch<%= endpoint_params %>">
            <svg class="icon icon--sm"><use href="#i-jet"/></svg>
        </a>
    <% end %>
</div>
