<% content_for "header" do %>
<title><%= playlist.title %> - Invidious</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/playlist/<%= plid %>" />
<% end %>

<form class="panel narrow--wide" style="margin-inline:auto" action="/add_playlist_items" method="get">
    <legend>
        <a href="/playlist?list=<%= playlist.id %>"><%= I18n.translate(locale, "Editing playlist `x`", %|"#{HTML.escape(playlist.title)}"|) %></a>
    </legend>

    <div class="finder">
        <svg class="icon icon--sm" aria-hidden="true"><use href="#i-search"/></svg>
        <input type="search" name="q"
          <% if query %>value="<%= HTML.escape(query.text) %>"<% end %>
          placeholder="<%= I18n.translate(locale, "Search for videos") %>"
          aria-label="<%= I18n.translate(locale, "Search for videos") %>">
        <input type="hidden" name="list" value="<%= plid %>">
        <button type="submit" aria-label="<%= I18n.translate(locale, "Search for videos") %>">
            <svg class="icon icon--sm" aria-hidden="true"><use href="#i-chev-r"/></svg>
        </button>
    </div>
</form>

<script id="playlist_data" type="application/json">
<%=
{
    "csrf_token" => URI.encode_www_form(env.get?("csrf_token").try &.as(String) || "")
}.to_pretty_json
%>
</script>
<script src="/js/playlist_widget.js?v=<%= ASSET_COMMIT %>"></script>

<%= rendered "components/items_paginated" %>
