<% content_for "header" do %>
<title><%= I18n.translate(locale, "Delete playlist") %> - Invidious</title>
<% end %>

<form class="form narrow" action="/delete_playlist?list=<%= plid %>&referer=<%= URI.encode_www_form(referer) %>" method="post">
    <div class="form__group">
        <legend class="form__legend"><%= I18n.translate(locale, "Delete playlist `x`?", %|"#{HTML.escape(playlist.title)}"|) %></legend>

        <div class="form__actions">
            <button type="submit" name="submit" value="delete_playlist" class="btn btn--danger">
                <svg class="icon icon--sm"><use href="#i-trash"/></svg>
                <%= I18n.translate(locale, "Yes") %>
            </button>
            <a class="btn" href="/playlist?list=<%= plid %>"><%= I18n.translate(locale, "No") %></a>
        </div>

        <input type="hidden" name="csrf_token" value="<%= HTML.escape(csrf_token) %>">
    </div>
</form>
