<% content_for "header" do %>
<title><%= "Error" %> - Invidious</title>
<% end %>

<div class="notice notice--bad">
    <svg class="icon notice__icon"><use href="#i-alert"/></svg>
    <div class="notice__body">
        <%= error_message %>
        <%= next_steps %>
    </div>
</div>
