<% content_for "header" do %>
<title><%= HTML.escape(hashtag) %> - Invidious</title>
<% end %>

<div class="page-head">
    <h1 class="page-head__title">
        <svg class="icon icon--lg" style="vertical-align:-.15em"><use href="#i-hash"/></svg>
        <%= HTML.escape(hashtag) %>
    </h1>
</div>

<%= rendered "components/items_paginated" %>
