<% content_for "header" do %>
<title><%= HTML.escape(mix.title) %> - Invidious</title>
<% end %>

<div class="page-head">
    <h1 class="page-head__title"><%= HTML.escape(mix.title) %></h1>
    <a class="iconbtn" href="/feed/playlist/<%= mix.id %>" title="RSS">
        <svg class="icon"><use href="#i-rss"/></svg>
        <span class="sr-only">RSS</span>
    </a>
</div>

<div class="grid">
<% mix.videos.each do |item| %>
    <%= rendered "components/item" %>
<% end %>
</div>
