<%
    search_privacy = preferences.search_privacy
    search_query = query.text.size > 30 ? HTML.escape(query.text[0,30].rstrip(".")) + "&hellip;" : HTML.escape(query.text)
%>

<% content_for "header" do %>
<title><%= search_privacy ? "Search" : search_query %> - Invidious</title>
<% end %>

<% # Redirezione della ricerca e filtri %>
<%= Invidious::Frontend::SearchFilters.generate(query.filters, query.text, query.page, locale) %>

<%- if items.empty? -%>
<div class="notice">
    <svg class="icon notice__icon"><use href="#i-alert"/></svg>
    <div class="notice__body">
        <p><%= I18n.translate(locale, "search_message_no_results") %></p>
        <p><%= I18n.translate(locale, "search_message_change_filters_or_query") %></p>
        <p><%= I18n.translate(locale, "search_message_use_another_instance", redirect_url) %></p>
    </div>
</div>
<%- else -%>
    <%= rendered "components/items_paginated" %>
<%- end -%>
