<% content_for "header" do %>
<meta name="description" content="<%= I18n.translate(locale, "An alternative front-end to YouTube") %>">
<title>
    Invidious - <%= I18n.translate(locale, "search") %>
</title>
<% end %>

<div class="narrow--wide" style="margin-inline:auto;display:flex;flex-direction:column;gap:var(--s-5);padding-block:var(--s-8)">
    <h1 style="text-align:center;font-size:var(--t-2xl)">Invidious</h1>
    <% autofocus = true %><%= rendered "components/search_box" %>
</div>
