<% ucid = video.ucid %>
<% title = HTML.escape(video.title) %>
<% author = HTML.escape(video.author) %>


<% content_for "header" do %>
<meta name="thumbnail" content="<%= thumbnail %>">
<meta name="description" content="<%= HTML.escape(video.short_description) %>">
<meta name="keywords" content="<%= video.keywords.join(",") %>">
<meta property="og:site_name" content="<%= author %> | Invidious">
<meta property="og:url" content="<%= HOST_URL %>/watch?v=<%= video.id %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:image" content="<%= HOST_URL %>/vi/<%= video.id %>/maxres.jpg">
<meta property="og:description" content="<%= HTML.escape(video.short_description) %>">
<meta property="og:type" content="video.other">
<meta property="og:video:url" content="<%= HOST_URL %>/embed/<%= video.id %>">
<meta property="og:video:secure_url" content="<%= HOST_URL %>/embed/<%= video.id %>">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta name="twitter:card" content="player">
<meta name="twitter:url" content="<%= HOST_URL %>/watch?v=<%= video.id %>">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= HTML.escape(video.short_description) %>">
<meta name="twitter:image" content="<%= HOST_URL %>/vi/<%= video.id %>/maxres.jpg">
<meta name="twitter:player" content="<%= HOST_URL %>/embed/<%= video.id %>">
<meta name="twitter:player:width" content="1280">
<meta name="twitter:player:height" content="720">
<link rel="alternate" href="https://www.youtube.com/watch?v=<%= video.id %>">
<%= rendered "components/player_sources" %>
<title><%= title %> - Invidious</title>

<!-- Description expansion also updates the 'Show more' button to 'Show less' so
we're going to need to do it here in order to allow for translations.
 -->
<style>
#descexpansionbutton ~ label > a::after {
    content: "<%= I18n.translate(locale, "Show more") %>"
}

#descexpansionbutton:checked ~ label > a::after {
    content: "<%= I18n.translate(locale, "Show less") %>"
}
</style>

<%
    # Disable the try reddit link if javascript is disabled
%>
<noscript><style> #try-reddit-comments-link { display: none } </style></noscript>

<% end %>

<script id="video_data" type="application/json">
<%=
{
    "id" => video.id,
    "index" => continuation,
    "plid" => plid,
    "length_seconds" => video.length_seconds.to_f,
    "play_next" => !video.related_videos.empty? && !plid && params.continue,
    "next_video" => video.related_videos.select { |rv| rv["id"]? }[0]?.try &.["id"],
    "youtube_comments_text" => HTML.escape(I18n.translate(locale, "View YouTube comments")),
    "comments_youtube_disabled_text" => HTML.escape(I18n.translate(locale, "comments_youtube_disabled_text")),
    "comments_youtube_disabled_try_reddit" => HTML.escape(I18n.translate(locale, "comments_youtube_disabled_try_reddit")),
    "reddit_comments_text" => HTML.escape(I18n.translate(locale, "View Reddit comments")),
    "reddit_permalink_text" => HTML.escape(I18n.translate(locale, "View more comments on Reddit")),
    "comments_text" => HTML.escape(I18n.translate(locale, "View `x` comments", "{commentCount}")),
    "hide_replies_text" => HTML.escape(I18n.translate(locale, "Hide replies")),
    "show_replies_text" => HTML.escape(I18n.translate(locale, "Show replies")),
    "params" => params,
    "preferences" => preferences,
    "premiere_timestamp" => video.premiere_timestamp.try &.to_unix,
    "vr" => video.vr?,
    "comments_enabled" => video.comments?,
    "projection_type" => video.projection_type,
    "local_disabled" => CONFIG.disabled?("local"),
    "support_reddit" => true,
    "live_now" => video.live_now
}.to_pretty_json
%>
</script>
<script id="config" type="application/json">
<%=
{
    "videojs" => CONFIG.videojs,
}.to_pretty_json
%>
</script>

<div id="player-container" class="player-shell">
    <%= rendered "components/player" %>
</div>

<div class="watch-cols">
    <div class="stack">
        <%-
            link_yt_watch = URI.new(scheme: "https", host: "www.youtube.com", path: "/watch", query: "v=#{video.id}")
            link_yt_embed = URI.new(scheme: "https", host: "www.youtube.com", path: "/embed/#{video.id}")

            if !plid.nil? && !continuation.nil?
                link_yt_param = URI::Params{"list" => [plid], "index" => [continuation.to_s]}
                link_yt_watch = IV::HttpServer::Utils.add_params_to_url(link_yt_watch, link_yt_param)
                link_yt_embed = IV::HttpServer::Utils.add_params_to_url(link_yt_embed, link_yt_param)
            end

            params_iv_embed = env.params.query.dup
            params_iv_embed.delete_all("v")
            link_iv_embed = URI.new(path: "/embed/#{id}")
            link_iv_embed = IV::HttpServer::Utils.add_params_to_url(link_iv_embed, params_iv_embed)

            link_iv_other = IV::Frontend::Misc.redirect_url(env)
        -%>

        <div class="player-links">
            <span id="watch-on-youtube">
                <a id="link-yt-watch" rel="noreferrer noopener" data-base-url="<%= link_yt_watch %>" href="<%= link_yt_watch %>"><%= I18n.translate(locale, "videoinfo_watch_on_youTube") %></a>
                (<a id="link-yt-embed" referrerpolicy="origin-when-cross-origin" rel="noopener" data-base-url="<%= link_yt_embed %>" href="<%= link_yt_embed %>"><%= I18n.translate(locale, "videoinfo_youTube_embed_link") %></a>)
            </span>
            <span id="watch-on-another-invidious-instance">
                <a id="link-iv-other" data-base-url="<%= link_iv_other %>" href="<%= link_iv_other %>"><%= I18n.translate(locale, "Switch Invidious Instance") %></a>
            </span>
            <span id="embed-link">
                <a id="link-iv-embed" data-base-url="<%= link_iv_embed %>" href="<%= link_iv_embed %>"><%= I18n.translate(locale, "videoinfo_invidious_embed_link") %></a>
            </span>
            <span id="annotations">
                <% if params.annotations %>
                    <a href="/watch?<%= env.params.query %>&iv_load_policy=3"><%= I18n.translate(locale, "Hide annotations") %></a>
                <% else %>
                    <a href="/watch?<%= env.params.query %>&iv_load_policy=1"><%= I18n.translate(locale, "Show annotations") %></a>
                <% end %>
            </span>
        </div>

        <div>
            <h1 class="vtitle"><%= title %></h1>

            <p class="vstats">
                <span id="views"><svg class="icon icon--sm"><use href="#i-eye"/></svg> <span class="num"><%= number_with_separator(video.views) %></span></span>
                <span>·</span>
                <span id="published-date">
                    <% if video.premiere_timestamp.try &.> Time.utc %>
                        <%= video.premiere_timestamp.try { |t| I18n.translate(locale, "Premieres `x`", t.to_s("%B %-d, %R UTC")) } %>
                    <% else %>
                        <%= I18n.translate(locale, "Shared `x`", video.published.to_s("%B %-d, %Y")) %>
                    <% end %>
                </span>
                <% if !video.is_listed %>
                    <span>·</span>
                    <span><svg class="icon icon--sm"><use href="#i-unlock"/></svg> <%= I18n.translate(locale, "Unlisted") %></span>
                <% end %>
            </p>

            <% if video.reason %>
                <div class="notice" style="margin-top:var(--s-3)">
                    <svg class="icon notice__icon"><use href="#i-alert"/></svg>
                    <div class="notice__body"><%= video.reason %></div>
                </div>
            <% elsif video.premiere_timestamp.try &.> Time.utc %>
                <p class="card__meta"><%= video.premiere_timestamp.try { |t| I18n.translate(locale, "Premieres in `x`", recode_date((t - Time.utc).ago, locale)) } %></p>
            <% elsif video.live_now %>
                <p class="card__meta"><%= video.premiere_timestamp.try { |t| I18n.translate(locale, "videoinfo_started_streaming_x_ago", recode_date((Time.utc - t).ago, locale)) } %></p>
            <% end %>
        </div>

        <div class="byline">
            <a class="byline__who" href="/channel/<%= video.ucid %>">
                <% if !video.author_thumbnail.empty? %>
                    <img class="avatar avatar--40" src="/ggpht<%= URI.parse(video.author_thumbnail).request_target %>" alt="" />
                <% end %>
                <span>
                    <span class="byline__name" id="channel-name"><%= author %><% if !video.author_verified.nil? && video.author_verified %> <svg class="verified"><use href="#i-check"/></svg><% end %></span>
                    </span>
            </a>

            <% sub_count_text = video.sub_count_text %>
            <%= rendered "components/subscribe_widget" %>

            <div class="ratebar">
                <span id="likes"><svg class="icon icon--sm"><use href="#i-thumbup"/></svg> <span class="num"><%= number_with_separator(video.likes) %></span></span>
            </div>

            <% if params.listen %>
                <a class="btn" title="<%= I18n.translate(locale, "Video mode") %>" id="link-iv-listen" data-base-url="/watch?<%= env.params.query %>&listen=0" href="/watch?<%= env.params.query %>&listen=0">
                    <svg class="icon icon--sm"><use href="#i-video"/></svg>
                    <%= I18n.translate(locale, "Video mode") %>
                </a>
            <% else %>
                <a class="btn" title="<%= I18n.translate(locale, "Audio mode") %>" id="link-iv-listen" data-base-url="/watch?<%= env.params.query %>&listen=1" href="/watch?<%= env.params.query %>&listen=1">
                    <svg class="icon icon--sm"><use href="#i-headset"/></svg>
                    <%= I18n.translate(locale, "Audio mode") %>
                </a>
            <% end %>
        </div>

        <div id="description-box" class="desc">
            <% if video.description.size < 200 || params.extend_desc %>
                <div id="descriptionWrapper"><%= video.description_html %></div>
            <% else %>
                <input id="descexpansionbutton" type="checkbox"/>
                <div id="descriptionWrapper" class="desc-text"><%= video.description_html %></div>
                <label for="descexpansionbutton"><a></a></label>
            <% end %>
        </div>

        <% if !video.music.empty? %>
            <details class="panel panel--tight">
                <summary class="panel__title"><%= I18n.translate(locale, "Music in this video") %></summary>
                <div id="music-description-box" class="stack stack--tight">
                    <% video.music.each do |music| %>
                        <div class="music-item">
                            <p class="music-song"><%= I18n.translate(locale, "Song: ") %><%= music.song %></p>
                            <p class="music-artist"><%= I18n.translate(locale, "Artist: ") %><%= music.artist %></p>
                            <p class="music-album"><%= I18n.translate(locale, "Album: ") %><%= music.album %></p>
                        </div>
                    <% end %>
                </div>
            </details>
        <% end %>

        <div class="panel panel--tight">
            <p id="genre"><%= I18n.translate(locale, "Genre: ") %>
                <% if !video.genre_url %>
                    <%= video.genre %>
                <% else %>
                    <a href="<%= video.genre_url %>"><%= video.genre %></a>
                <% end %>
            </p>
            <% if video.license %>
                <% if video.license.empty? %>
                    <p id="license"><%= I18n.translate(locale, "License: ") %><%= I18n.translate(locale, "Standard YouTube license") %></p>
                <% else %>
                    <p id="license"><%= I18n.translate(locale, "License: ") %><%= video.license %></p>
                <% end %>
            <% end %>
            <p id="family_friendly"><%= I18n.translate(locale, "Family friendly? ") %><%= I18n.translate_bool(locale, video.is_family_friendly) %></p>
            <% if video.allowed_regions.size != REGIONS.size %>
                <p id="allowed_regions">
                    <% if video.allowed_regions.size < REGIONS.size // 2 %>
                        <%= I18n.translate(locale, "Whitelisted regions: ") %><%= video.allowed_regions.join(", ") %>
                    <% else %>
                        <%= I18n.translate(locale, "Blacklisted regions: ") %><%= (REGIONS.to_a - video.allowed_regions).join(", ") %>
                    <% end %>
                </p>
            <% end %>
            <p id="dislikes" style="display:none;visibility:hidden"></p>
            <p id="wilson" style="display:none;visibility:hidden"></p>
            <p id="rating" style="display:none;visibility:hidden"></p>
            <p id="engagement" style="display:none;visibility:hidden"></p>
        </div>

        <% if user %>
            <% playlists = Invidious::Database::Playlists.select_user_created_playlists(user.email) %>
            <% if !playlists.empty? %>
                <form data-onsubmit="return_false" class="panel panel--tight" action="/playlist_ajax?action=add_video" method="post" target="_blank">
                    <div class="field field--stack">
                        <label for="playlist_id"><%= I18n.translate(locale, "Add to playlist: ") %></label>
                        <select name="playlist_id" id="playlist_id">
                            <% playlists.each do |plid, playlist_title| %>
                                <option data-plid="<%= plid %>" value="<%= plid %>" <%= "selected" if user.preferences.default_playlist == plid %>><%= HTML.escape(playlist_title) %></option>
                            <% end %>
                        </select>
                    </div>

                    <input type="hidden" name="csrf_token" value="<%= URI.encode_www_form(env.get?("csrf_token").try &.as(String) || "") %>">
                    <input type="hidden" name="video_id" value="<%= video.id %>">
                    <button data-onclick="add_playlist_video" data-id="<%= video.id %>" type="submit" class="btn btn--accent">
                        <svg class="icon icon--sm"><use href="#i-add"/></svg>
                        <%= I18n.translate(locale, "Add to playlist") %>
                    </button>
                </form>
                <script id="playlist_data" type="application/json">
                <%=
                {
                    "csrf_token" => URI.encode_www_form(env.get?("csrf_token").try &.as(String) || "")
                }.to_pretty_json
                %>
                </script>
                <script src="/js/playlist_widget.js?v=<%= Time.utc.to_unix_ms %>"></script>
            <% end %>
        <% end %>

        <%= Invidious::Frontend::WatchPage.download_widget(locale, video, video_assets) %>

        <div id="comments" class="comments threads">
            <% if (params.comments <=> ["", ""]) == 0 %>
                <div id="comments-disabled-message" class="panel">
                    <p><b><%= HTML.escape(I18n.translate(locale, "comments_invidious_disabled_text")) %></b></p>
                </div>
            <% else %>
                <% if video.comments? %>
                    <% if nojs %>
                        <%= comment_html %>
                    <% else %>
                        <noscript>
                            <a href="/watch?<%= env.params.query %>&nojs=1">
                                <%= I18n.translate(locale, "Hi! Looks like you have JavaScript turned off. Click here to view comments, keep in mind they may take a bit longer to load.") %>
                            </a>
                        </noscript>
                    <% end %>
                <% else %>
                    <% if !nojs %>
                        <div id="comments-turned-off-on-video-message" class="panel">
                            <p><b><%= HTML.escape(I18n.translate(locale, "comments_youtube_disabled_text")) %></b></p>
                            <p><button data-comments="reddit" id="try-reddit-comments-link" class="simulated_a">
                                <%= HTML.escape(I18n.translate(locale, "comments_youtube_disabled_try_reddit")) %>
                            </button></p>
                        </div>
                    <% end %>

                    <noscript>
                        <% if nojs %>
                            <%= comment_html %>
                        <% else %>
                            <a href="/watch?<%= env.params.query %>&nojs=1">
                                <%= HTML.escape(I18n.translate(locale, "comments_youtube_disabled_try_reddit_no_js")) %>
                            </a>
                        <% end %>
                    </noscript>
                <% end %>
            <% end %>
        </div>
    </div>

    <% if params.related_videos || plid %>
        <aside class="stack">
            <% if plid %>
                <div id="playlist"></div>
            <% end %>

            <% if params.related_videos %>
                <% if !video.related_videos.empty? %>
                    <div class="field field--check" <% if plid %>style="display:none"<% end %>>
                        <label for="continue"><%= I18n.translate(locale, "preferences_continue_label") %></label>
                        <input name="continue" id="continue" type="checkbox" <% if params.continue %>checked<% end %>>
                    </div>
                <% end %>

                <div class="stack">
                    <% video.related_videos.each do |rv| %>
                        <% if rv["id"]? %>
                            <div class="row">
                                <%- if !env.get("preferences").as(Preferences).thin_mode -%>
                                    <a tabindex="-1" class="thumb" href="/watch?v=<%= rv["id"] %>&listen=<%= params.listen %>">
                                        <img loading="lazy" src="/vi/<%= rv["id"] %>/mqdefault.jpg" alt="" />
                                        <%- if (length_seconds = rv["length_seconds"]?.try &.to_i?) && length_seconds != 0 -%>
                                            <span class="stamp length"><%= recode_length_seconds(length_seconds) %></span>
                                        <%- end -%>
                                    </a>
                                <%- else -%>
                                    <div class="thumbnail-placeholder"></div>
                                <%- end -%>

                                <div class="card__text">
                                    <a href="/watch?v=<%= rv["id"] %>&listen=<%= params.listen %>">
                                        <h4 class="card__title" dir="auto"><%= HTML.escape(rv["title"]) %></h4>
                                    </a>
                                    <p class="card__by">
                                        <% if !rv["ucid"].empty? %>
                                            <a href="/channel/<%= rv["ucid"] %>"><%= rv["author"]? %></a>
                                        <% else %>
                                            <span><%= rv["author"]? %></span>
                                        <% end %>
                                        <% if rv["author_verified"]? == "true" %><svg class="verified"><use href="#i-check"/></svg><% end %>
                                    </p>
                                    <p class="card__meta"><%=
                                        views = short_text_to_number(rv["short_view_count"]? || "0")
                                        I18n.translate_count(locale, "generic_views_count", views, I18n::NumberFormatting::Short)
                                    %></p>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </aside>
    <% end %>
</div>

<script src="/js/comments.js?v=<%= ASSET_COMMIT %>"></script>
<script src="/js/watch.js?v=<%= ASSET_COMMIT %>"></script>
